
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center py-4">
  <h1>Heart Disease form</h1>
  <p>Please fill follwing details</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 mx-auto">
     <div *ngIf="errorMessage" class="alert alert-danger"> <strong> Error message:</strong> {{errorMessage}}</div>

      <form [formGroup]="healthForm" (ngSubmit)="onSubmit()">




        <div class="row">


            <div class="col-md-6">
                <label>Age <i class="text-danger">*</i></label>
                <input type="text" formControlName="pAge" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pAge.errors }" />
                <div *ngIf="submitted && f.pAge.errors" class="invalid-feedback">
                    <div *ngIf="f.pAge.errors.required">Age is required</div>
                </div>
            </div>

            <div class="col-md-6">
              <label>Gender <i class="text-danger">*</i></label>
              <select formControlName="sex" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }">
                  <option value=""></option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
              </select>
              <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                  <div *ngIf="f.sex.errors.required">Gender is required</div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
                <label>cp <i class="text-danger">*</i></label>
                <input type="text" formControlName="cp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cp.errors }" />
                <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
                    <div *ngIf="f.cp.errors.required">cp is required</div>
                </div>
            </div>

            <div class="col-md-6">
                <label>trestBPs <i class="text-danger">*</i></label>
                <input type="text" formControlName="trestBPs" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.trestBPs.errors }" />
                <div *ngIf="submitted && f.trestBPs.errors" class="invalid-feedback">
                    <div *ngIf="f.trestBPs.errors.required">trestBPs is required</div>
                </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <label>chol <i class="text-danger">*</i></label>
              <input type="text" formControlName="chol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.chol.errors }" />
              <div *ngIf="submitted && f.chol.errors" class="invalid-feedback">
                  <div *ngIf="f.chol.errors.required">chol is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label>fbs <i class="text-danger">*</i></label>
              <input type="text" formControlName="fbs" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fbs.errors }" />
              <div *ngIf="submitted && f.fbs.errors" class="invalid-feedback">
                  <div *ngIf="f.fbs.errors.required">fbs is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>restecg <i class="text-danger">*</i></label>
              <input type="text" formControlName="restecg" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.restecg.errors }" />
              <div *ngIf="submitted && f.restecg.errors" class="invalid-feedback">
                  <div *ngIf="f.restecg.errors.required">restecg is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label>thalach <i class="text-danger">*</i></label>
              <input type="text" formControlName="thalach" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.thalach.errors }" />
              <div *ngIf="submitted && f.thalach.errors" class="invalid-feedback">
                  <div *ngIf="f.thalach.errors.required">thalach is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>exang <i class="text-danger">*</i></label>
              <input type="text" formControlName="exang" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.exang.errors }" />
              <div *ngIf="submitted && f.exang.errors" class="invalid-feedback">
                  <div *ngIf="f.exang.errors.required">exang is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label>oldpeak <i class="text-danger">*</i></label>
              <input type="text" formControlName="oldpeak" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpeak.errors }" />
              <div *ngIf="submitted && f.oldpeak.errors" class="invalid-feedback">
                  <div *ngIf="f.oldpeak.errors.required">oldpeak is required</div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <label>slope <i class="text-danger">*</i></label>
              <input type="text" formControlName="slope" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.slope.errors }" />
              <div *ngIf="submitted && f.slope.errors" class="invalid-feedback">
                  <div *ngIf="f.slope.errors.required">slope is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label>ca <i class="text-danger">*</i></label>
              <input type="text" formControlName="ca" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ca.errors }" />
              <div *ngIf="submitted && f.ca.errors" class="invalid-feedback">
                  <div *ngIf="f.ca.errors.required">ca is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Thal <i class="text-danger">*</i></label>
              <input type="text" formControlName="Thal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Thal.errors }" />
              <div *ngIf="submitted && f.Thal.errors" class="invalid-feedback">
                  <div *ngIf="f.Thal.errors.required">Thal is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mt-4">
              <div class="text-center">
                  <button class="btn btn-primary mr-1">Submit</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
              </div>
            </div>
          </div>

    </form>


    </div>

  </div>
</div>

</body>
</html>
